Ny mæcen for {{maecenate.title}}
====================
Hej {{admin.firstName}},
<br /> <br />
{{supporter.firstName}} {{supporter.lastName}} ({{supporter.email}})
har valgt at støtte dit Mæcenat
<a href="{{maecenateLink}}">{{maecenate.title}}</a> med
{{subscription.currency}} {{amount}} pr måned
<br />
<a href="{{maecenateDashboardLink}}">Gå til dit dashboard</a>

<br /><br />
Hilsen<br />
Mæcen.net<br />
maecen@digidi.org
