Tak for din support!
========================
Tak {{firstName}}!
<br /><br />
Du har lige gennemført en donation på
<strong>{{fixedAmount}} {{currency}}</strong>
til <a href="{{maecenateUrl}}">{{maecenateTitle}}</a>.
<br /><br />
Næste gang vi trækker penge fra din konto vil være
{{nextDonation}}. Hvis du vil afmelde, skal du
gøre det senest dagen inden.
<br /><br />
Vi er helt fantastisk glade for din support! <br />
Mæcen Teamet <br />

<small>
  Maecen.dk - DiGiDi ­ Digital Distribution a..m.b.a. <br />
  Hallelevvej 15, 4200 Slagelse. <br />
  Ordrer Nr.: {{orderId}}
</small>
