New maecen for {{maecenate.title}}
====================
Hey {{admin.firstName}},
<br /> <br />
{{supporter.firstName}} {{supporter.lastName}} ({{supporter.email}})
has just become supporter your maecenate
<a href="{{maecenateLink}}">{{maecenate.title}}</a> with
{{subscription.currency}} {{amount}} per month
<br />
<a href="{{maecenateDashboardLink}}">Go to your dashboard</a>

<br /><br />
Kind regards<br />
Maecen.net<br />
hello@maecen.net