Thanks for your support!
====================
Thank you {{firstName}}!
<br /><br />
You have just completed a donation of
<strong>{{fixedAmount}} {{currency}}</strong>
to <a href="{{maecenateUrl}}">{{maecenateTitle}}</a>.
<br /><br />
We will bill you next time on the {{nextDonation}}. If you want to cancel,
you have to do it the latest the day before.
<br /><br />
We are grateful for your support! <br />
The Maecen Team <br />

<small>
  Maecen.com - DiGiDi ­ Digital Distribution a..m.b.a. <br />
  Hallelevvej 15, 4200 Slagelse, Denmark <br />
  Order Nr.: {{orderId}}
</small>
